body {
    margin: auto;
   /* Header Start */
}.alignheader {
    width: 95%;
    margin: 0;
    overflow: hidden;
}
 .align{
     margin: auto;
     width: 60%;
     border: 5px solid #FFFF00;
     padding: 10px;
}

header {
    background: #0000b3;
    height: 80px;
    position: static;
    border-bottom: black solid 3px;
}

.logo {
    float: left;
    height: 140px;
    width: 140px;
    margin-left: 15px;
    padding-top: 15px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    font-family: 'Cinzel', serif;
}

nav li {
    float: left;
    padding: 15px;
    padding-top: 20px;
    font-size: 30px;
    color: antiquewhite;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}
a:hover{
   font-weight: bold;
}
/* Header End */


/*inquires Box Start */
.inquiries {
    background-image: url("https://www.hotel-mirabeau.ch/application/files/7916/3361/8093/overlay.png");
    background-color: #cccccc;
    height: 2px; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 650px;
    overflow: auto;
    padding-left: 10px;
    border-radius: 20px;
    width: 100%;
}
h1{
    font-family: 'Cinzel', serif;
}
.info{
    font-family: 'Syne Mono', monospace;
}
.info a{
    text-decoration: none;
    color: black;
}
.info a:hover{
    font-weight: bolder;
}

#managerPhoto {
    width: 200px;
    height: 280px;
    float:left;
    padding-top: 15px;
}
#managerName{
    clear: none;
    margin: 0;
    margin-left: 210px;
    padding-top: 15px;
}
#managerContact{
    padding-top: 17px;
    height: 10px;
    line-height: 10px;
    font-family: 'Syne Mono', monospace;
}
#managerContact a{
    text-decoration: none;
    color: black;
}
#icon1{
    float: left;
    margin-left: 10px;
    padding: 10px;
    text-indent: 9px;
    position: relative;
}
.icon2{
    margin-top: 5px;
    margin-left: 20px;
    text-indent: 9px;

}
.title2{
    font-family: 'Rajdhani', sans-serif;
    height: 25px;
    line-height: 25px;
}
#quotetext{
    margin-left: 250px;
    margin-right: 50px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 20px;
}
/*inquires Box End */

/* Page Divider */
.dividerSection{
    height: 100px;
    padding-bottom: 5px;
    text-align: center;
 }
 .divider{
    margin: auto;
    width: 60%;
    border: 5px solid #FFFF00;
    padding: 10px;
}
/* Page Divider */

/* Staff Row Start */
.staff{
    padding-top: 20px;
    float: right;
    margin-left: 5px;
    margin-right: 10px;
}
.staffphoto{
    height: 200px;
    width: 200px;
    padding: 5px;
}
.emailicon{
    position: absolute;
}
.staffemail{
    float: left;
    padding-left: 30px;
    padding-top: 3px;
    font-family: 'Syne Mono', monospace;
}

.staffbox {
margin-right: 260px;

}

.staff{
    margin-top: 200px;
    margin-right: 50px;
    /* padding-right: 50px; (to be centered on my monitor) */
    padding-bottom: 200px;
    align-items: center;

}
.staffemail a{
    text-decoration:none;
    color: black;
}
.staffimage{
    align-items: center;
    box-shadow: 10px 10px 5px lightblue;
}
.staffname{
    font-family: 'Cinzel', serif;
    font-weight: bold;
}
.role{
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}
/* Staff Row End */

/* Footer done by Bojidar */
footer {
    height: 300px;
    width: 100%;
    background: #0000b3;
    border-top: black solid 3px;
    float: left;
    display: block;
    text-align: center;
}
 
.menuTab {
    /* position: absolute; */
    float: left;
    height: 80%;
    width: 33%;
    color: aliceblue;
    padding-top: 40px;
}
 
#logoTab{
    padding-top: 0px;
}
 
.footerLinks {
    list-style: none;
}
 
.menuTab a {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Cinzel', serif;
    font-size: 30px;
}
 
.connections{
    margin-left: 70px;
}
 
h2{
    font-family: 'PT Serif', serif;
    font-weight: lighter;
    font-size: 30px;
}
 
#logoFooter {
    height: 100%;
    margin-left: 150px;
    margin-top: 30px;
}